[2016-01-04 01:36] thefoxis opened #3 "How to run instructions should be improved"
Like so:

## How to run

1. install dependencies: `npm i` and `bower install`
2. run the service: `node srv/app-dev.js`
3. open [http://localhost:8000/](http://localhost:8000/)

[2016-01-12 14:18] mcdonnelldean commented on #3
@thefoxis Fully agree,

I'm going to drop bower too. Ideally I would like each service to run as simply as `npm install`, then `npm run`. Once I have this done I will update the instructions to be simpler.

[2016-01-12 23:14] thefoxis commented on #3
Yes, that'd be probably optimal. You could also do pre- or postprocessing (mostly for variables sake, but plain CSS is a-okay too), concatenate CSS files and run other optimisation tasks; but if it's supposed to only be mostly for demonstration purposes I probably would leave that out.

[2016-01-12 23:20] mcdonnelldean commented on #3
Actually I have this as an action item to get your opinion on 😊 let's discuss this too

[2016-01-13 12:06] mcdonnelldean opened #4 "Move UI to React / Redux"
This needs to be done for each iteration. The UI is not part of the workshop as such so all iterations of the workshop should have the same UI.

@thefoxis I think we will get the UI work completed on a branch off master and do the latest iteration too. We should be able to hand off to our interns then to replicate the work we have done in the earlier iterations.

[2016-01-13 19:20] mcdonnelldean opened #5 "Remove Wiki tab"
Not needed. Low priority.

[2016-01-13 20:50] mcdonnelldean commented on #4
@thefoxis I've moved to this [branch](https://github.com/rjrodger/nodezoo-web/tree/to-redux), I've about an hour left in it, I just need to redux and reactify the front end. I'll ping you when I have enough that you can move your front end work in.

[2016-01-14 23:59] mcdonnelldean opened #6 "UI Refresh"
Hey @thefoxis

I added notes below. You can do all this on your static fork, I wasn't able to open an issue there so I stook it here. I'm happy for you to convert to stylus too if you want, you don't need to set up a pipeline, it's fine to manually run the process, I'll automate it when when I move it in.

If you have changes to the header feel free to bring em in.

![attachment-2](https://cloud.g

[2016-01-15 00:00] mcdonnelldean commented on #6
@thefoxis If you need anything else just ping me.

[2016-01-15 04:16] thefoxis commented on #6
everything is in the fork, right [here](https://github.com/thefoxis/nodezoo-web/tree/i01). I believe that all of the points were addressed, there are two results on the index page, just to show it off and then one module on info page (seneca) with its' github and npm information. let me know what you think!

[2016-01-15 13:04] mcdonnelldean commented on #6
@thefoxis Just reviewed, this looks good :D I'm going to pull this over as the Redux bits come online.

[2016-01-15 13:04] #6 closed

[2016-01-15 13:07] mcdonnelldean opened #7 "Add ability to require images via webpack"
This means a change to the font and image loaders as the regex they are using are too greedy and colliding.

Assigned to @ckiss

[2016-01-15 13:08] mcdonnelldean opened #8 "Add the ability to preprocess SASS and Stylus"
As discussed

Assigned to @ckiss

[2016-01-15 13:09] mcdonnelldean opened #9 "Add Linting as per Vidi"
Assigned to @ckiss

[2016-01-15 17:23] ckiss commented on #7
ready to be closed @mcdonnelldean

[2016-01-15 17:24] ckiss commented on #8
ready to be closed @mcdonnelldean

[2016-01-15 17:24] #9 closed

[2016-01-15 17:24] #8 closed

[2016-01-15 17:31] #7 closed

[2016-01-17 23:30] mcdonnelldean opened #11 "Move to Stylus"
Processor is now in place, we should be good to go to convert our css to stylus and take advantage of variables, etc

[2016-01-17 23:38] mcdonnelldean opened #12 "search item changes"
<img width="1114" alt="screen shot 2016-01-17 at 23 31 59" src="https://cloud.githubusercontent.com/assets/3625961/12380753/8b02626c-bd72-11e5-993b-177f566a2712.png">

- make npm / github logo's as big as the hex logo
- add some vertical padding between icons and 'See similar modules'
- drop fontsize of 'See similar modules' to demphasis it a little.
- make info / star / fork icons bigger to empha

[2016-01-17 23:45] mcdonnelldean opened #13 "Add back to search link to /info/module_name"
For now a simple `a` in in the static markup is fine.

[2016-01-17 23:47] mcdonnelldean opened #14 "/info should redirect to /"
When no module name is provided info/ should redirect to / This can be handled in the client router by adding a route for it.

[2016-01-18 12:35] #13 closed

[2016-01-18 12:36] mcdonnelldean commented on #12
All looks great

[2016-01-18 12:36] #12 closed

[2016-01-18 12:36] mcdonnelldean commented on #3
Done in `to-redux`

[2016-01-18 12:36] #3 closed

[2016-01-18 12:37] #11 closed

[2016-01-18 12:37] #4 closed

[2016-01-18 12:38] mcdonnelldean opened #17 "Wire /info page back up to api/info"

[2016-01-18 12:39] mcdonnelldean opened #18 "Wire search functionality back up to /api/query"

[2016-01-18 20:48] #17 closed

[2016-01-19 13:56] mcdonnelldean opened #20 "Move header and footer bits inside the shell"
This means we end up with

[code]

I'm not massively happy about this but I need to speak to people with more react experience to fix. For now this will allow @thefoxis to keep the design semantic so we can just pull the two top divs when we figure out the best way to do it.

@ckiss I'll get you to do this for Nodezoo please.

[2016-01-19 14:13] #14 closed

[2016-01-19 14:59] mcdonnelldean opened #21 "Create a readme header png or gif"
Hey @thefoxis Can you produce a non svg version of the nodezoo logo so we can use it on the README's? You can dump it in the imgs/ folder and I will find a proper home for it.

Github doesn't like SVG's in the readme and using the change header trick sometimes fails on npm so I think a regular graphic will do fine. Pretty much like we do on the seneca ones.

I'll have someone else run through all

[2016-01-20 10:40] mcdonnelldean commented on #21
@thefoxis Awesome stuff, looks super.

[2016-01-20 10:40] #21 closed

[2016-01-20 20:50] mcdonnelldean commented on #20
@ckiss Hold till Monday

[2016-01-20 20:50] mcdonnelldean commented on #18
@ckiss Hold till Monday

[2016-01-25 12:49] ckiss commented on #20
done by: https://github.com/rjrodger/nodezoo-web/pull/23

[2016-01-25 12:49] #20 closed

[2016-01-25 13:02] mcdonnelldean opened #24 "Fix bug in /info causing crash"

[2016-01-25 13:02] #24 closed

[2016-01-25 14:55] ckiss commented on #18
done here: https://github.com/rjrodger/nodezoo-web/pull/25

[2016-01-25 14:55] #18 closed

[2016-02-18 11:02] #5 closed

[2016-03-23 16:03] Georgette opened #32 "module info.js is seemingly rerendering entire result list on state change"
When navigating to route /info/seneca (for example), and when the results load/change, the page seems to be rerendering the entire result list instead of what really has changed. Something seems to be causing a React reconciliation failure.

[2016-03-23 16:16] Georgette opened #33 "Include URL for each result in the info page"
As of today, only the github result includes a URL to a module within git, but it would be nice to have it in all results.

**Use Case: As a user, I'd like to use nodezoo-web to easily navigate to a module within any of the places it exists in the developer eco-system. I'd treat node-zoo as a convenient bookmarking system. As such, I'd like to be able to click a link in the result list and go to a

[2016-03-23 16:20] Georgette opened #34 "create components for each info result type"
There are 3 different types of results (currently) in Info.js: Github, Travis, NPM.

The layout for each type of result can be split into their own component, and then imported and utilized within info.js

[2016-03-23 16:33] mcdonnelldean commented on #34
Agreed, further, we will most likely have more more detail per panel and each panel will have it's own layout concern so this makes complete sense. @Georgette feel free to self assign.

[2016-03-23 16:37] mcdonnelldean commented on #33
I'm +1 on this. @Georgette Can you list the data points that are missing here? I will add them to each. I think going with the icons is a great idea and fits in with the search results layout. Feel free to self assign

[2016-03-23 16:39] mcdonnelldean commented on #32
I *think* it has something to do with the inline way this is done, https://github.com/nodezoo/nodezoo-web/blob/master/client/containers/info.js#L44-L76

Also the timer doesn't help matters, it should really be a socketed action, we have an example of a socket reducer in vidi-dashboard using nes.

[2016-03-23 16:42] mcdonnelldean opened #35 "Use Prepublish to build the assets"
When we move to dot version we will need to prebuild the site on publish. Will need to use this for it to work correctly. https://www.npmjs.com/package/in-publish

[2016-03-23 20:42] Georgette commented on #32
I honestly don't see anything wrong on the react side of things (offhand). It is my suspicion that the data is changing causing those if conditions to change. I'll do some logging and see.

[2016-03-24 10:26] matt-oc commented on #33
@mcdonnelldean @Georgette I was actually in the middle of something very similar until I got dragged away for the msday site, npm and travis modules need to change to send the url to info and then web but its a simple implementation.

[2016-03-24 13:33] Georgette commented on #33
We will actually need a http URL for git as well for this, in addition to the git URL (because someone may need the git URL for git clone) We can link the git http url so if the user clicks the link, instead of copy, it will go to the repo.

[2016-03-24 13:35] Georgette opened #36 "Allow user to copy git link to clipboard"
If a user wants to copy the git link to clone a repo, it would be convenient to have the standard copy to clipboard feature (like git has when copying git http and ssh links)

[2016-03-24 13:54] Georgette opened #37 "Set Up Linter"

[2016-03-24 13:55] mcdonnelldean commented on #36
YES! Oh this would be sweet.

[2016-03-24 14:17] Georgette commented on #32
So this is because the data pulses are returning a null value. I placed a bandaid on it by telling react not to update when the result is false/undefined/null. We might want some additional result checking/ flow control later on when true sockets are in place.

[2016-03-24 14:25] Georgette opened #39 "Install and Build Websockets for Info.js"
Info.js is using setTimeout to poll for github/npm/travis info results. We'd like to replace this with websockets using hapi.js' nes

[2016-03-24 14:32] Georgette opened #40 "Point the ReadMe main repo link to the proper spot"
...which I think is: https://github.com/nodezoo/nodezoo-system  ?

[2016-03-24 14:42] Georgette commented on #36
https://github.com/nkbt/react-copy-to-clipboard

this might do the trick

[2016-03-24 14:50] Georgette opened #41 "As a user of nodezoo-web, I'd like to be able to:"

[2016-03-24 15:43] mcdonnelldean commented on #41
For me links are king, can I, from a single page,

- Get to the build
- The package page on npm
- The issues stars and PR pages

I'd also like to see the readme and license too. At the very least I think having the license as some sort of icon or highly visible element would be great as a module searcher.

Simple stats would be epic too.

[2016-03-24 20:11] Georgette commented on #41
I would like to pull in information from coveralls.io

[2016-03-25 17:04] #32 closed

[2016-03-25 17:06] #34 closed

[2016-03-25 17:29] mcdonnelldean opened #42 "Resolve package.json warns"

[2016-03-28 03:15] Georgette opened #43 "Placeholder for loading results"
Due to our implementation using websockets, the results will trickle in at their leisure.

The issue with this is that the user may not be aware that more results are loading (on the info page). Therefore, it would be nice to have placeholder widget that alerts the user that the information is in the process of being pulled.

[2016-03-28 17:35] Georgette commented on #41
I was also wondering if it is even feasible to have term search option, even on github readme to start. Often, I am searching a particular part of the api, and the readme is bloated (although, I can do a mac search just find I suppose). It would be nice to do term searches in various spots (issues, readme, build fails, etc). This would be fairly difficult, I'd imagine.

[2016-03-28 17:36] Georgette commented on #41
Dependency graphs -- big thing right now is knowing what depends on what. I'm wondering the level of effort required to get a count of dependencies that can be drilled down into. IE: Dependencies: 157, and when clicked on, will actually display a tree.

[2016-03-28 23:28] Georgette opened #44 "github service crashing"
Consecutive info queries are causing github service to fail ( I might need to move this issue to another repo)

I tried using only seneca and lodash, and able to get the service to crash by toggling between them in the route

[code]

here is a crash report when querying for argosy

route:

[code]

(so searching for argosy)

log:

[code]

[2016-03-29 07:47] mcdonnelldean commented on #39
As agreed @Georgette I'll push this off until the end of April, it's not priority yet and I want to use Tentacoli here also (which means we should wait for @mcollina to return from holidays)

[2016-03-29 07:49] mcdonnelldean commented on #37
@shanel262 I'm going to assign this to you, can you replicate what is in concorda? Basically we need to be able to lint the front and the back end. They do this [here][concorda]. You will need all the ESLINT plugins and lab.

[concorda]: https://github.com/Concorda/concorda-dashboard/blob/master/package.json#L20

[2016-03-29 07:53] #40 closed

[2016-03-29 07:56] #36 closed

[2016-03-29 07:59] mcdonnelldean commented on #44
@Georgette This is due to a change in search, I'm resolving now, will close this when it is fixed. The issue is github is trying to talk to search but it doesn't know anything about it.

[2016-03-29 08:01] mcdonnelldean commented on #43
At the very least it would be nice to have loading panels and the like.

Can we take a first cut at this and assume web knows what data it is to expect (it does, but shouldn't). In the next two iterations I would like the payload to tell you when it is complete or not but that shouldn't hold up work to make it look more response.

Right now it is very hard to gauge when we are getting data in.

[2016-03-29 09:52] mcdonnelldean opened #47 "Update Toolbag"
As discussed, used the newer version with the broken out plugins.

[2016-03-29 10:10] mcdonnelldean commented on #37
Done via #48

[2016-03-29 10:10] #37 closed

[2016-04-01 10:21] #47 closed

[2016-04-04 08:43] mcdonnelldean commented on #44
This should now be fixed.

[2016-04-04 08:43] #44 closed

[2016-04-04 08:49] mcdonnelldean opened #53 "Only show connected services"
In the search result items, in the top left hand corner. There are little service gems. These are supposed to represent the services we have data for. With that in mind each service gem should only show when there is data from that service included in the search result.

To check if a service is available, check the data like so. `item.github.connected`. This value will be true or false. In cases

[2016-04-04 09:19] mcdonnelldean commented on #53
This depends on https://github.com/nodezoo/nodezoo-search/issues/28

[2016-04-04 11:09] AdrianRossouw opened #54 "should not be using uppercase in filenames"
Mac and windows are case __in__sensitive, but linux cares about case deeply.

This is why the following line in `client/containers/info.js` was only breaking when i was trying to build docker containers with it.

```import {TravisInfo} from '../components/TravisInfo'```

The filename was `components/travisInfo.js`, which would work everywhere but on linux.

The node way (tm) to do this is to name

[2016-04-04 11:14] mcdonnelldean commented on #54
@CodeWriterWriter simple start :D

[2016-04-04 11:18] AdrianRossouw commented on #54
so the task is to rename the files in git, and change all the requires over.

[2016-04-04 13:36] #54 closed

[2016-04-04 14:52] mcdonnelldean commented on #35
The /dist folder is git ignored so we will need an `.npmignore` to override this as far as I know.

[2016-04-04 22:32] mcdonnelldean opened #59 "Improve responsiveness"
It seems there are a lot of 'inbetween' sizes where the site is two small or has too much padding as the size decreases. It looks like we need more comprehensive responsive points.

[2016-04-05 00:01] Georgette commented on #59
Agreed, the currently layout is a generic layout template and not conditioned towards the natural breaks in the layout. I'd like to get all the info we want to display on the screen, then redo layout in general. I'm working towards that now.

[2016-04-05 00:14] Georgette opened #60 "take advantage of more stylus features"
This isn't really that important, but for anyone looking to learn a preprocessor language (we use [stylus](http://stylus-lang.com/)), this might be fun.

using [this site](http://shouldiprefix.com/#flexbox) as a reference on which css3 properties still require vendor prefixes, I'd like to see some mixins generated

for example, although vendor prefixes is no longer needed for this property

Mixin

[2016-04-05 14:18] matt-oc opened #62 "npm warning on build"
redux needs updating

[2016-04-05 15:10] vislamov commented on #35
At this point `npm publish` not publishing `dist` directory to npm even with it included in files array in package.json or with .npmignore ommited in it. Needs more digging on the subject.

[2016-04-05 15:12] mcdonnelldean commented on #35
So i think this is because it is ignored in the .gitignore. Yeah dig away see what you come up with.

Kindest Regards,

Dean

[2016-04-05 16:00] matt-oc opened #63 "Linting needs to be added"
nodezoo-search is our baseline

[2016-04-05 19:12] Georgette commented on #63
If we need listing, then what am I getting when I run `npm run lint ` and I get reprimanded for bad code style?

[2016-04-05 19:34] Georgette opened #64 "additional info on search results"
I'd like to have:

Author Name
Module Description
Home Web Page
Travis Build Status

[2016-04-05 19:35] Georgette opened #65 "Info.js"
Can we get a listing of available information we can pull from git/travis/npm?

[2016-04-05 19:36] Georgette commented on #59
In addition to this, I want to redo the layout once we get most of the information we want on the interface

[2016-04-05 20:09] matt-oc commented on #63
@Georgette We were just going through one by one and making sure each repo had the correct linting files and were linted, web may well be already sorted so this will be closed tomorrow once it has been checked if all is ok (certainly it needs linting anyway)

[2016-04-05 20:10] matt-oc commented on #65
@Georgette If you check out the issues section of each repo there are issues being made there listing the outputs and a discussion on the final passed information. Npm is to be done tomorrow

[2016-04-05 22:04] Georgette commented on #63
Yeah, I linted my open PR because I had an outstanding mess to fix :) So it was working great!

[2016-04-06 01:31] vislamov commented on #41
As a user I would like to see or have:
- autocomplete on search field
- number of stars
- number of forks
- license type
- last commit date
- number of open issues on github
- number of open pull requests on github
- last release version (number of releases)
- list of dependencies (with links and total number)

Express readme has this nice little bar, not sure how it works yet, but looks cool!
![i

[2016-04-06 01:34] Georgette opened #66 "Add feature: search related/similar modules"
So that link goes somewhere ...although for now we can just submit another such using that module name that was clicked, the result list just renders new results

[2016-04-06 08:45] mcdonnelldean commented on #41
@vislamov This is gold! @matt-oc Can you copy this list into an issue and put beside them the service each item needs to originate from and if we already have it or not.

[2016-04-06 08:54] #53 closed

[2016-04-06 09:03] mcdonnelldean commented on #41
@Georgette Search is possible like this with Elastic, I was just checking. It's a little hard to set up but I think we can add this once we stabilize the system. +1 on dependency graph if the data is available from npm / github, this would be great.

[2016-04-06 09:05] mcdonnelldean commented on #41
@Georgette Coveralls is being looked after ;)

[2016-04-06 09:42] matt-oc commented on #63
done!

[2016-04-06 09:42] #63 closed

[2016-04-06 13:53] mcdonnelldean opened #68 "Search screen feedback"
Based on the following screenshot,

![screen shot 2016-04-06 at 14 45 58](https://cloud.githubusercontent.com/assets/3625961/14318780/627571ae-fc06-11e5-990e-b17ebc45aea5.png)

- Module names should be all lower case
- Make Star and Fork numbers links (to stars and forks respectively)
- Change `see related modules` to `more info` and link to the info page
- Decrease the overall size of search resu

[2016-04-06 16:14] vislamov opened #69 "Search results unavailable unless prior pulled by info page"
Just to make a note of it here, when fixed we can close it.

To reproduce:

1. Open home page
2. Type something new that you did not search yet, e.g. "underscore"
3. Search results page is empty
4. Load /info/underscore URL in the browser
5. Repeat search
6. Search results come up with one results that's been pulled by info

[2016-04-06 16:23] Georgette commented on #41
This might not be within the scope of this project on any level however, this project had me thinking about it.

Dependencies are a huge deal right now

but perf tools are as well. We have interfaces like coveralls for showing coverage, but nothing along the lines to display perf tool results for modules. Mind you, setting a project up to run perf tests is a pain, but something that some developer

[2016-04-06 16:27] mcdonnelldean commented on #41
I like this idea. @mcollina Would you as a module owner be willing to upload perf results against versions of your modules? I mean we could wrap benchmarking tools in a thing that sent us the data.

Yeah tangent. But I really agree on this!

[2016-04-07 00:08] Georgette opened #70 "Better Flexgrid Wanted"
The current grid is tedious when doing responsive layout

What I don't want is to have to do this:

[code]
to get an element to have a width of 2 columns

I want to be able to do this, and have it be 2 columns from an xs screen to the largest

[code]

this is more than just quality of life, but the current implementation is far too many queries than needed

As a note, bootstrap 4 is in alpha but u

[2016-04-07 01:08] Georgette commented on #68
Couple of things:

Layout isn't finished, although working on it.

If related modules isn't going to be an additive search, then should probably just remove it as clicking on the title will drill down like most lists often do. Either that, another icon.

Any reason to make module names lowercase? I uppercased it because too much text starts to blend. I want to make it easier to to scan names. I co

[2016-04-07 05:03] Georgette opened #72 "Clean up HTML and CSS Bloat"

[2016-04-07 05:07] Georgette commented on #59
Looking at this in more detail, we need to reduce the bloat of the html along with implementing an actual grid with breakpoints. We have a grid file, but its not really being used.

[2016-04-07 05:07] #72 closed

[2016-04-07 05:09] Georgette commented on #64
@matt-oc

I chose to not use author or home page. Author really isn't important enough to be in a general list of results, and home page is not, on average, part of a particular package.

Plus I want to save space for additional, and more pressing stuff

[2016-04-07 05:11] Georgette opened #73 "Designer Wanted"
Because I'm not one. I'm really great at UX, but not making things pretty. Just good enough.

Two different schools of thought :)

No coding required, just send suggested layout in any format you wish.

[2016-04-07 05:16] vislamov commented on #73
Designer would be helpful of course, and I can make things pretty, count on me :)

[2016-04-07 05:21] Georgette commented on #73
OH well that works out perfectly. Issue closed!

[2016-04-07 05:21] #73 closed

[2016-04-07 05:22] vislamov commented on #64
@matt-oc

Can we also have GitHub username that owns the repo? We need it for GitHub buttons.

Thanks in advance!

[2016-04-07 06:35] vislamov commented on #64
Added, no worries.

[2016-04-07 06:38] vislamov commented on #68
Working on it, also I would like to replace our stars and forks with official GitHub buttons.
https://buttons.github.io/

[2016-04-07 06:48] Georgette commented on #68
@vislamov my current pr is for search screen, you are welcome to improve it further but don't want wires to cross.

[2016-04-07 09:12] mcdonnelldean commented on #70
What is the effort to modify the flexbox grid we already have in the repo? I want to be super careful about adding weight so bootstrap's size would put it at an immediate disadvantage for me. Agree with the need for the above though, it would make the markup easier to read too.

[2016-04-07 09:17] mcdonnelldean commented on #68
@vislamov Negative on those buttons, they will kill the style. Please keep the ones that are there. We are using GitHub's official font for our icons.

@Georgette The lowercase is based on user feedback. I've asked a few people and they've said it looks out of place. Personally I agree, I think lowercase would flow much better.

Agreed on removing the search link, it would free up space for other

[2016-04-07 13:18] matt-oc commented on #68
I think the module names should have the first letter capitalised and the rest lowercase, I tried out all 3 options and that was the best look IMO, but all lowercase is better than all capitals for sure

[2016-04-07 13:21] mcdonnelldean commented on #68
I don't mind first capital, I'd prefer all smalls as it fits with the theme better. As long as it is not caps, I'm good.

[2016-04-07 13:26] matt-oc opened #75 "/info page needs updating to reflect our new data formatting"

[2016-04-07 13:28] matt-oc commented on #68
I agree either or, but I do like the new Travis button :+1:

[2016-04-07 13:37] shanel262 opened #76 "Travis build status button appears even when there is no travis build"
On the search page, the travis build status button appears even when there is no travis build available. Only show this when result.travis.connected in search-result.js is equal to true.

![screen shot 2016-04-07 at 14 32 05](https://cloud.githubusercontent.com/assets/10059043/14352792/247ad524-fcce-11e5-932f-1ee5282e373b.png)

[2016-04-07 15:08] Georgette commented on #76
Good catch! Knew I was forgetting something!

[2016-04-07 15:33] Georgette commented on #68
How about we at least increase font-size so it aligns better with icons
Comparisons
<img width="729" alt="screen shot 2016-04-07 at 11 30 31 am" src="https://cloud.githubusercontent.com/assets/3783903/14356866/74123628-fcb4-11e5-99b3-43fe528d2acf.png">
<img width="732" alt="screen shot 2016-04-07 at 11 31 02 am" src="https://cloud.githubusercontent.com/assets/3783903/14356867/7412a004-fcb4-11e5-8c

[2016-04-07 15:47] matt-oc commented on #68
I like it with the bigger font, did you try with first letter capitalised? I would make the name bigger but make the npm version numbers smaller

[2016-04-07 15:48] matt-oc commented on #68
What I'm really not sold on is the layout of the github forks stars and watches along the bottom, I think a vertical list may look better but it is very subjective

[2016-04-07 16:19] mcdonnelldean commented on #68
@gege that works perfect for me, change away!

Kindest Regards,

Dean

[2016-04-07 16:21] mcdonnelldean commented on #68
@gege you can remove the icon if you want too, it'll be a while before we have the analysis to power it

[2016-04-07 16:21] vislamov commented on #68
I would agree with @mcdonnelldean on that modules should be lowercased, it's just a common practice, look at the github search results or npm home page, all lowercased.

[2016-04-07 16:26] vislamov commented on #68
It would also be nice to have some kind of a live stats on homepage. I wonder if we can pull this data from npm:
![image](https://cloud.githubusercontent.com/assets/5131554/14358653/c857870e-fca2-11e5-9de1-cd0895b6a7ee.png)

[2016-04-07 16:47] mcdonnelldean commented on #68
We could do this for our own stats :D

[2016-04-07 16:48] mcdonnelldean commented on #68
But it would be nice on the info page too, there is a dump of the available data in the /npm issues page

[2016-04-07 17:04] Georgette commented on #68
@matt-oc I agree with you on stars/forks/watches.

The one thing I'm treading the line on is real estate space. This is a search page, so we want to show as many results as possible, and in such a way that users effectively find what they are looking for. We put too much information, or have the list items take too much real estate, and we slow a user down.

So we need to set a bar of what is the

[2016-04-07 17:08] mcdonnelldean commented on #68
@Georgette Good points. If you took them out we wouldn't miss to much and the download stats would be a better indication of how the module is doing. Either way the idea is to drill into the info page.

[2016-04-07 18:14] Georgette commented on #76
I actually half-arsed fixed -- needs to probably just display only for pass/failed builds, vs the way I did it.

[2016-04-07 18:16] Georgette opened #78 "Explore/Build Dependency Mapping Component"

[2016-04-07 23:15] #76 closed

[2016-04-08 10:24] mcdonnelldean commented on #69
@vislamov This is expected behaviour, it allows you to run nodezoo and update your local elastic-search without the need for running an updater.

[2016-04-08 10:24] #69 closed

[2016-04-08 10:26] mcdonnelldean commented on #78
This may make sense as a separate microservice that can do the analysis based on receiving updates from npm. (You can know when a module gets updated by handling `role:info,res:part,part:npm'

[2016-04-08 10:28] mcdonnelldean commented on #35
@vislamov @AdrianRossouw We need to chat about this. Basically the .npmignore needs to allow dist for publishing but it also breaks our fuge config. Any more ideas on how to progress this?

[2016-04-08 10:30] mcdonnelldean commented on #65
Closing, this is now available on each repos issues.

[2016-04-08 10:30] #65 closed

[2016-04-08 10:31] mcdonnelldean commented on #62
@vislamov Assigned you. I did this task on vidi-dashboard, there are some minor changes to history and redux. If you need a hand ping me.

[2016-04-08 10:33] mcdonnelldean commented on #42
Duplicate 0f #62

[2016-04-08 10:33] #42 closed

[2016-04-08 10:35] mcdonnelldean commented on #66
Moved to: https://github.com/nodezoo/nodezoo-search/issues/39

[2016-04-08 10:35] #66 closed

[2016-04-08 10:36] mcdonnelldean commented on #64
Closed via #33

[2016-04-08 10:36] #64 closed

[2016-04-08 10:38] mcdonnelldean commented on #59
@Georgette I'll assign to you since you're already doing #70. @vislamov bear in mind changes coming here since you are working on the search screen.

[2016-04-08 10:39] mcdonnelldean commented on #33
This is now in and also being expanded to include ssh url.

[2016-04-08 10:39] #33 closed

[2016-04-08 10:57] mcdonnelldean opened #79 "Improve frontend devs data experience"
People working on the frontend need to have an up to date data reference to work from. With this in mind I think we need the following actions.

## Add sample calls and data to readme's
@matt-oc please make an issue on npm, github, travis. This issue asks to update the readme with sample data from each response. The expectation is each pattern in handled and emitted section will have some sample c

[2016-04-08 11:30] matt-oc commented on #79
@mcdonnelldean will do :+1:

[2016-04-08 14:29] matt-oc commented on #75
basic rendition done

[2016-04-08 14:29] #75 closed

[2016-04-08 16:32] vislamov commented on #62
Sure thing, I will take care of it.

[2016-04-08 19:45] vislamov commented on #69
Great!

[2016-04-08 19:56] vislamov commented on #59
I'm keeping it in mind.

[2016-04-08 20:39] vislamov commented on #62
@mcdonnelldean I fixed redux warnings for `nodezoo-web`.  We still have dependency modules warnings during install, two of them `seneca` related and one `toolbag-plugin-stats-collector`. What is your take on it?

#### `eslint-config-seneca`
[code]

#### `seneca-mesh`
[code]

#### `toolbag-plugin-stats-collector`
[code]

[2016-04-10 02:34] AdrianRossouw commented on #35
IIRC it will fall back to gitignore if there is no npmignore.
I removed the npmignore, because it only really had the ~* in there.

so just touch and commit the .npmignore?

[2016-04-10 10:44] mcdonnelldean commented on #35
I think that should work. I'm pushing releases today so I can check?

Kindest Regards,

Dean

[2016-04-11 11:11] #70 closed

[2016-04-11 15:52] vislamov commented on #35
I was trying with .npmignore, the doc says if it's omitted in .npmingnore then it should take it, but didn't work for me, please give it a shot, may be I didn't do it right.

[2016-04-11 19:02] Georgette commented on #41
If we ever bring in user auth, and sessions, being able to have a dashboard of packages I want to watch would be nice. Probably outside the scope of this project's intent.

[2016-04-11 20:36] Georgette opened #83 "Bring in NPM Download Info to search results"
In search-result.js, remove the git watch/fork/stars

Bring in NPM Download **Last Month Info **

@mcdonnelldean Do you agree with this? I think all 3 (day/week/month download info is too much for a search result, but last month is probably the best. )

Have an icon with text layout as seen here

![c857870e-fca2-11e5-9de1-cd0895b6a7ee](https://cloud.githubusercontent.com/assets/3783903/14441597/93

[2016-04-12 15:17] mcollina commented on #41
@mcdonnelldean as a module owner I would probably have not time to upload perf results if it is not highly automated. If I could do it launching a single command, then it would be awesome. There are different possible tools for benchmarks: http://npm.im/benchmark https://www.npmjs.com/package/fastbench https://www.npmjs.com/package/autocannon. In general these should likely be free form, because t

[2016-04-12 15:38] mcdonnelldean commented on #41
We could certainly explore an endpoint.

[2016-04-19 21:30] Georgette opened #86 "Search Pagination"

[2016-04-21 11:54] matt-oc opened #88 "Placeholders for missing data on info page"
Sometimes fields do not have a value if the user hasn't filled them out in npm or github etc. It might be nice to have placeholder data for this case instead of leaving it blank or not showing the field at all.

Here is an example of fuge missing a homepage:
![screen shot 2016-04-21 at 12 30 52](https://cloud.githubusercontent.com/assets/16647291/14708051/2b24df94-07c0-11e6-9dc3-442dd0f5cd75.png)

[2016-04-21 15:40] powerbrian opened #89 "Tests Needed"

[2016-04-21 15:41] powerbrian opened #90 "Linting Required"

[2016-04-22 06:08] keerthivasan-r opened #91 "npm run build failing"
Hi, I have got nodezoo-web forked and got all the i00,i01... branches from upstream and did npm install in each branch and everything worked as expected. I did npm install in the nodezoo-workshop/system directory as well. Everything worked fine. But, when i run npm run build in nodezoo-web directory, it throws the error

npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files\\nodejs\\node.e

[2016-04-22 06:14] Georgette commented on #91
Are you able to update to the latest version? Yours is outdated, and missing scripts.

[2016-04-22 06:21] keerthivasan-r commented on #91
I got forked it - https://github.com/nodezoo/nodezoo-web and cloned it to local. Will i be able to

 in all the branches. i00,i01..i05? npm run build works only in master branch..

[2016-04-22 06:23] Georgette commented on #91
Actually, I apologize as I'm not familiar with the workflow of the workshop. The branches are all missing build scripts so the build won't work (as you already know). I'll see what I can do to help :)

[2016-04-22 06:30] Georgette commented on #91
@keerthivasan-r In the interim, it looks like you can run

[code]

in the `/nodezoo-web` directory to just start the server, which is all it needs. We will look into making sure our repo instructions do what they should do according to workshop :)

[2016-04-22 06:32] Georgette commented on #91
@matt-oc Can we put build scripts:  `node srv/app-dev.js` in package.json for branches i00 - i05?

[2016-04-22 06:57] keerthivasan-r commented on #91
@Georgette I would just try node srv/app-dev.js and let you know. Thanks for the help. I really appreciate :)

[2016-04-22 07:17] keerthivasan-r commented on #91
@Georgette Great, it just run like a charm.Thank you!

[2016-04-22 10:59] matt-oc commented on #91
@Georgette I'll do it now and try it out :)

[2016-04-22 14:36] matt-oc commented on #91
@Georgette All the main seneca deps are being pulled directly from the github account and this gives a pincannon error when trying to use it because of senenca 2.0. Surely it should have the deps explicitly specified in the json file, 0.2 for balance client and 0.5 for mesh for seneca stuff of this age? I don't know how it is working for anyone that just pulls and installs those branches at the mo

[2016-04-22 15:24] matt-oc commented on #91
@Georgette @keerthivasan-r The problem here is that the build command is not needed for the i branches, I have made an update to the workshop readme to say as much and I have changed all branches here to make the deps explicit to avoid the problems in my above post

[2016-04-22 16:08] matt-oc commented on #91
@keerthivasan-r feel free to comment if you have any other issues

[2016-04-22 16:08] #91 closed

[2016-04-25 00:25] Georgette commented on #89
So last time I checked, Lab is server side. Certainly don't want to test, even reducers, with a server side framework because it is an entirely different environment.

I'd like to bring in Mocha+Chai+JSDOM(maybe) for front-end testing, which is the typical react-testing suite. I've never tried it, but would like to write a few tests just to get things rolling. @mcdonnelldean

[2016-04-25 08:05] mcdonnelldean commented on #89
Sounds solid!

Kindest Regards,

Dean

[2016-04-26 13:35] Georgette commented on #89
So I just had enough time to get things set up with mocha-chai, leaving behind code coverage setup (maybe instanbul) and travis integration.

Also, and this should be a long term goal, is to integrate with selenium because although most tests cases can be brought against the current virtual dom mock, the one thing we can't ensure if that any of our javascript doesn't break in a particular browser.

[2016-05-03 11:22] eduardobs79 opened #100 "Add isolated mode"

[2016-05-06 09:27] mirceaalexandru opened #102 "Add support for user authentication in UI"
We need to start implementing the user authentication for next step of integrating Concorda into this system. For this we will need some new features on UI.

- Login button on top of the main page that redirect to a login page.
- Normal login page with additional Github and Google login buttons.
- There is no login service on server for now, this feature will be added later. So for now just fake a

[2016-05-13 09:29] mirceaalexandru opened #104 "Implement UI support for reset password"
the reset password will have the following flow:

 * a reset button/link on login page
 * forward to a page with an email field and some text (Enter your e-mail here to reset your password or smth)
 * that will call the local fake implementation (it will call server and send an email with a link to reset password with a token)
 * have another route for something like this: /.../reset/:token that w

[2016-05-16 06:08] mirceaalexandru opened #105 "Update dependencies"
Cannot deploy:

[code]

[2016-05-16 13:44] mirceaalexandru opened #107 "Implement flag to force updating module information on /info/module service"
We should have support for this:

info/module?update=true
this will force updating the module, even if data is in cache.

Beside web, info module should be changed, to be sure that the update commands sent to github/nmp/travis modules contains the flag:

https://github.com/nodezoo/nodezoo-info/blob/master/info.js#L31

and then check if everything is ok in those three modules:

https://github.com/n

[2016-05-16 14:49] mcdonnelldean commented on #100
Completed.

[2016-05-16 14:49] #100 closed

[2016-05-16 14:49] mcdonnelldean commented on #88
Redesign in progress to fix issues like this.

[2016-05-16 14:49] #88 closed

[2016-05-16 14:50] mcdonnelldean commented on #68
Closing as redesign is in progress. Feedback from this issue has been passed to the design team.

[2016-05-16 14:50] #68 closed

[2016-05-16 14:51] mcdonnelldean commented on #62
Closed as complete

[2016-05-16 14:51] #62 closed

[2016-05-16 14:52] mcdonnelldean commented on #90
Closed as complete

[2016-05-16 14:52] #90 closed

[2016-05-16 14:52] mcdonnelldean commented on #35
Closed as complete.

[2016-05-16 14:52] #35 closed

[2016-05-16 14:55] mcdonnelldean opened #108 "Links on search results don't work"
They point to a local uri instead of the correct one,

- Stars
- Watchers
- Forks

are all affected.

[2016-05-16 15:00] mcdonnelldean opened #109 "Header image is not linked to '/'"
It is hardlinked to `nodezoo.com` which breaks `beta.nodezoo.com`

[2016-05-17 14:26] #109 closed

[2016-05-18 08:20] andrewcashmore commented on #108
I presume we want these links to point to their relevant services?

[2016-05-18 12:48] jmorth opened #112 "nodezoo-web starts and crashes shortly thereafter with seneca timeout"
After cloning the current master from github, I did the standard npm install / npm start. The application starts and the logging shows what appears to be a successful init, but some time after starting (usually between 5 and 10 seconds) the server shuts down with a Seneca Fatal Error:

Error trace: http://pastebin.com/BTwJ4rsv

Windows 7 x64, node 5.10.1

[2016-05-18 17:51] jmorth commented on #112
My apologies. Restarting nodezoo-base appears to have fixed the problem. I'll comment with any new developments if the problem persists.

[2016-05-18 17:51] #112 closed

[2016-05-24 07:59] #108 closed

[2016-05-24 12:09] #107 closed

[2016-05-24 12:09] mirceaalexandru commented on #104
fixed by #113

[2016-05-24 12:09] #104 closed

[2016-05-24 12:10] mirceaalexandru commented on #102
fixed by #103

[2016-05-24 12:10] #102 closed

[2016-05-30 10:53] mirceaalexandru opened #114 "Use seneca-web for defining API"

[2016-05-30 10:53] mirceaalexandru commented on #114
In
https://github.com/nodezoo/nodezoo-web/blob/master/server/routes/api.js

we should use seneca-web instead of manually wiring API to internal seneca patterns

[2016-06-04 18:47] Georgette opened #116 "Upgrade to react v15.0"
Is anyone opposed to me doing this upgrade and curing anything breaking? I'm thinking of slipping this in, or trying to, before this codebase gets any bigger.

Thoughts?

[2016-06-04 20:17] Georgette opened #117 "Linter"
I'm wondering that since we aren't using lab for anything but linting, and we have like...5 dependencies tied up in a linter, which is strange, can we perhaps get this down to 1-2 dependency by using the react-linter and then copy configuration from seneca or something?

[2016-06-04 20:26] Georgette commented on #116
Whoops, might help if I pulled master

[2016-06-04 20:26] #116 closed

[2016-06-07 08:43] mirceaalexandru commented on #117
@Georgette can we close this?

[2016-06-07 10:07] mirceaalexandru opened #120 "Comment the Login button until proper auth integration is implemented."

[2016-06-07 12:30] #105 closed

[2016-06-07 14:48] #117 closed

[2016-06-09 08:28] mirceaalexandru opened #122 "Add Coveralls information in UI"

[2016-06-10 09:18] mirceaalexandru opened #123 "Add autocomplete feature in search page"
When inserting a search criteria in search page an autocomplete list of mathing mudules can be displayed.

[2016-06-21 10:03] thekemkid opened #126 "When clicking on the stars, forks or watcher for a result, a blank page opens with no info."
<img width="1068" alt="screen shot 2016-06-21 at 11 02 12" src="https://cloud.githubusercontent.com/assets/6907399/16225651/a76f61d2-379f-11e6-94cb-93dc80bd3f60.png">
I am talking about the links at the bottom of this search result. Do these need to be links?

[2016-06-24 09:56] mihaidma commented on #122
added on both info and search page

[2016-06-24 09:56] #122 closed

[2016-06-24 10:26] mihaidma opened #128 "Unify badge components"
Coveralls and Travis seem to provide standard badges: https://github.com/badges/shields
Currently we have 2 types of React components: one that displays images (example: npm icon, coveralls coverage image) and a custom built badge (the travis one). After the new design is defined these components should be restructured. We either implement custom badges or we use the badges provided by the service

[2016-06-24 12:44] mihaidma opened #129 "Improve Elastic Search tokenizer/analyzer"
If I load in the system the **seneca** and **seneca-postgres-store** plugins metadata:
- searching for **senec** doesn't match anything,
- searching for **seneca** matches both module names,
- searching for **seneca-postgres** matches both module names. It actually searches for all modules containing **seneca** and **postgres**,
- searching for **seneca-postg** finds both plugins (they are found b

[2016-07-09 00:58] davidmarkclements opened #130 "container build failure"
[code]

[2017-02-16 10:04] slawomir-pasko opened #131 "Error in demo page"
Try to use API via GET command (for instance http://nodezoo.com/api/query?q=anything)
you will receive an error from Seneca:
`{"error":"Error: Seneca: connect ECONNREFUSED"}`